{% extends 'base.html' %}

{% block content %}
    <h1>Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Category Id</th>
                <th>Category Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for category in category_list %}
            <tr>
                <td>{{ category.CategoryId }}</td>
                <td>{{ category.CategoryName }}</td>
                <td>{{ category.CategoryDescription }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}